#root {
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
    min-height: 100vh;
    max-width: 100%;
    height: 100%;
    padding: 40px;
}

.movie-list {
    display: flex;
    justify-content: center;
    position: relative;
    height: auto;
    min-height: 820px;
}

.movie-card {
    position: absolute;
    height: 800px;
    max-width: 320px;
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    -webkit-box-shadow: 0px 0px 15px 3px rgb(66 68 90 / 25%) !important;
    -moz-box-shadow: 0px 0px 15px 3px rgb(66 68 90 / 25%) !important;
    box-shadow: 0px 0px 15px 3px rgb(66 68 90 / 25%) !important;
}

.movie-card--animate-accept {
    -webkit-animation: puff-out-accept 700ms cubic-bezier(0.165, 0.840, 0.440, 1.000) both;
    animation: puff-out-accept 700ms cubic-bezier(0.165, 0.840, 0.440, 1.000) both;
}

.movie-card--animate-reject {
    -webkit-animation: puff-out-reject 700ms cubic-bezier(0.165, 0.840, 0.440, 1.000) both;
    animation: puff-out-reject 700ms cubic-bezier(0.165, 0.840, 0.440, 1.000) both;
}

@-webkit-keyframes puff-out-accept {
    0% {
        -webkit-filter: blur(0px);
        filter: blur(0px);
        opacity: 1;
        border: 0px solid #73E643;
    }

    100% {
        -webkit-filter: blur(4px);
        filter: blur(4px);
        opacity: 0;
        border: 15px solid #73E643;
    }
}

@keyframes puff-out-accept {
    0% {
        -webkit-filter: blur(0px);
        filter: blur(0px);
        opacity: 1;
        border: 0px solid #73E643;
    }

    100% {
        -webkit-filter: blur(4px);
        filter: blur(4px);
        opacity: 0;
        border: 15px solid #73E643;
    }
}

@-webkit-keyframes puff-out-reject {
    0% {
        -webkit-filter: blur(0px);
        filter: blur(0px);
        opacity: 1;
        border: 0px solid #F22233;
    }

    100% {
        -webkit-filter: blur(4px);
        filter: blur(4px);
        opacity: 0;
        border: 15px solid #F22233;
    }
}

@keyframes puff-out-reject {
    0% {
        -webkit-filter: blur(0px);
        filter: blur(0px);
        opacity: 1;
        border: 0px solid #F22233;
    }

    100% {
        -webkit-filter: blur(4px);
        filter: blur(4px);
        opacity: 0;
        border: 15px solid #F22233;
    }
}